section#benefit {
    position: relative;
    background: #27c1de;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 17rem;
        top: -12rem;
        z-index: 0;
        background: url("/i/benefit-wave-top.png") center/cover no-repeat;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 17rem;
        top: -13rem;
        z-index: 1;
        background: url("/i/benefit-wave-top-2.png") center/cover no-repeat;
    }
    .bottom-wave {
        content: '';
        position: absolute;
        width: 100%;
        height: 16rem;
        z-index: 1;
        background: url("/i/benefit-wave-bottom.png") center/cover no-repeat;
    }
    .container {
        .wrap {
            .title {
                display: block;
                @include title();
                color: $white;
            }
            .wave-line {
                display: block;
                margin: 0 auto;
                padding: 2.5rem 0 6rem 0;
            }
            .leaves-img {
                position: absolute;
                top: -15rem;
                right: -16rem;
            }
            .benefit-list {
                display: flex;
                justify-content: center;
                .benefit-item {
                    width: 33%;
                    text-align: center;
                    img {
                        padding-bottom: 3rem;
                    }
                    .text {
                        font-size: 1.8rem;
                        text-align: center;
                        color: $white;
                    }
                }
            }
        }
    }
}
