@font-face {
    font-family: 'Gilroy-ExtraBoldItalic';
    src: url('/f/Gilroy-ExtraBoldItalic.woff2') format('woff2'),
    url('/f/Gilroy-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Black';
    src: url('/f/Gilroy-Black.woff2') format('woff2'),
    url('/f/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-BoldItalic';
    src: url('/f/Gilroy-BoldItalic.woff2') format('woff2'),
    url('/f/Gilroy-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('/f/Gilroy-ExtraBold.woff2') format('woff2'),
    url('/f/Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-HeavyItalic';
    src: url('/f/Gilroy-HeavyItalic.woff2') format('woff2'),
    url('/f/Gilroy-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('/f/Gilroy-Heavy.woff2') format('woff2'),
    url('/f/Gilroy-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-BlackItalic';
    src: url('/f/Gilroy-BlackItalic.woff2') format('woff2'),
    url('/f/Gilroy-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('/f/Gilroy-Light.woff2') format('woff2'),
    url('/f/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/f/Gilroy-Bold.woff2') format('woff2'),
    url('/f/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/f/Gilroy-Regular.woff2') format('woff2'),
    url('/f/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-RegularItalic';
    src: url('/f/Gilroy-RegularItalic.woff2') format('woff2'),
    url('/f/Gilroy-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/f/Gilroy-Medium.woff2') format('woff2'),
    url('/f/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/f/Gilroy-SemiBold.woff2') format('woff2'),
    url('/f/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-MediumItalic';
    src: url('/f/Gilroy-MediumItalic.woff2') format('woff2'),
    url('/f/Gilroy-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-LightItalic';
    src: url('/f/Gilroy-LightItalic.woff2') format('woff2'),
    url('/f/Gilroy-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-UltraLightItalic';
    src: url('/f/Gilroy-UltraLightItalic.woff2') format('woff2'),
    url('/f/Gilroy-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-SemiBoldItalic';
    src: url('/f/Gilroy-SemiBoldItalic.woff2') format('woff2'),
    url('/f/Gilroy-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Thin';
    src: url('/f/Gilroy-Thin.woff2') format('woff2'),
    url('/f/Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-UltraLight';
    src: url('/f/Gilroy-UltraLight.woff2') format('woff2'),
    url('/f/Gilroy-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-ThinItalic';
    src: url('/f/Gilroy-ThinItalic.woff2') format('woff2'),
    url('/f/Gilroy-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


