$black : #000;
$white : #fff;
$blue : #163950;
$gray : #bfbfbf;
$orange : #ee6f23;

$dropzone-gray: #7f7f7f;


$font-size : 10px; //10px
//$font-size : 0.521vmin; //10px
$container : $font-size * 120; //1200px

$responsive : 1200px;
$responsive-font-size : 2vw;
$responsive-container : 90vw;
